body {
    margin: 0;
    overflow: hidden;
    background-color: #87CEEB; /* Couleur de fond */
    font-family: Arial, sans-serif;
}

.circle {
    position: absolute;
    border-radius: 50%;
    transition: transform 0.2s; /* Visual effect for click */
    overflow: hidden; /* Ensures the image stays within the circle */
    background-color: inherit; /* Keep the background from JS */
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1155AA; /* Couleur de fond */
}

.text {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
}

.fps {
    position: absolute;
    top: 40px;
    right: 10px;
    color: white;
    font-size: 20px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}